.nextcloud-content-toolbar {
  &.toolbar-display {
    overflow: visible;
    max-height: 150px;
  }
  .nextcloud-button {
    background: $orange;
    padding: 8px 18px 10px;
    color: $white;
    margin-right: 2px;
    font-size: 14px;
    &:hover {
      background-color: $dark-accent;
      box-shadow: none;
      color: $white;
    }
  }
}