<lightbox show="vm.toolbar.lightbox.delete" class="" on-close="vm.toolbar.toggleDeleteView(false)">
    <div class="horizontal-spacing-twice">
        <!-- Lightbox title -->
        <h2>
            <i18n>remove</i18n>
        </h2>

        <!-- Confirm deletion body text -->
        <div class="row">
            <i18n>nextcloud.documents.confirm.deletion</i18n>&nbsp;&quest;
            <hr />
        </div>

        <!-- Footer/buttons -->
        <div class="lightbox-buttons fluid">

            <!-- delete -->
            <button class="nextcloud-button-confirm right-magnet" ng-click="vm.toolbar.deleteDocuments()">
                <i18n>workspace.delete.confirm.action</i18n>
            </button>

            <!-- cancel -->
            <button class="nextcloud-button-cancel cancel right-magnet" ng-click="vm.toolbar.toggleDeleteView(false)">
                <i18n>cancel</i18n>
            </button>
        </div>
    </div>
</lightbox>