{
    "name": "{{nextcloudVersion}}",
    "config": {
        "main" : "fr.openent.nextcloud.Nextcloud",
        "port" : 8060,
        "app-name" : "Nextcloud",
    	"app-address" : "/nextcloud",
    	"app-icon" : "Nextcloud-large",
    	"sql": true,
    	"db-schema" : "nextcloud",
        "host": "https://{{ host }}",
        "ssl" : true,
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "prod",
        "entcore.port" : 8009,
        "admin-credential" : {
            "username": "{{ nextcloudUsername }}",
            "password": "{{ nextcloudPassword }}"
        },
        "nextcloud-host": "{{ nextcloudHost }}",
        "endpoint" : {
            "ocs-api": "{{ nextcloudOCSAPI | default('/ocs/v1.php') }}",
            "webdav-api": "{{ nextcloudWebdavAPI | default('/remote.php/dav/files') }}"
        },
        "quota": "{{ nextcloudQuota | default('2 GB') }}",
        "publicConf": {
            "xiti": {
                "LIBELLE_SERVICE": {
                    "default": "STOCKAGE_PARTAGE"
                },
                "OUTIL": "NEXTCLOUD"
            }
        }
    }
}