<!DOCTYPE html>
<html>

	<head>
		<title>{{#i18n}}nextcloud.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="/assets/js/entcore/ng-app.js?v=1725669907871" type="text/javascript" id="context"></script>
		<script src="/nextcloud/public/dist/application.js?v=1725669907871" type="text/javascript"></script>
		
		<script type="text/ng-template" id="empty"></script>
		<script>

		</script>
	</head>

	<body ng-controller="MainController as vm" class="nextcloud">
		<portal>
			<container template="main"></container>
		</portal>
	</body>

</html>
