<div class="nextcloud" ng-if="vm.userPreference.body.active">
    <!-- nextcloud folder tree -->
    <folder-tree id="nextcloud-folder-tree"
                 tree-props="vm.folderTree"
                 dragdrop="vm.droppable.dragDropHandler($originalEvent)">
    </folder-tree>

    <!-- nextcloud navigation contents -->
    <div class="nextcloud-content bottom-spacing-three" ng-show="vm.selectedFolder">
        <!-- create synchronize folder -->
        <a class="classic-link centered-bloc-text">
            <i18n>Créer un dossier synchronisé</i18n>
        </a>

        <!-- progress bar -->
        <div class="row">
            <h2>
                <i18n>Espace synchronize utilisé</i18n>
            </h2>
            <!-- <progress-bar max="quota.max" filled="quota.used" unit="[[quota.unit]]"></progress-bar> todo example -->
            <progress-bar max="10" filled="0.5" unit="Go"></progress-bar>
        </div>
    </div>
</div>
