<div class="nextcloud vertical-spacing" ng-if="vm.userInfo">
    <!-- nextcloud folder tree -->
    <folder-tree id="nextcloud-folder-tree"
                 tree-props="vm.folderTree"
                 dragdrop="vm.droppable.dragDropHandler($originalEvent)">
    </folder-tree>

    <!-- nextcloud navigation contents -->
    <div class="nextcloud-content bottom-spacing-three" ng-show="vm.selectedFolder">
        <!-- create synchronize folder -->
        <a class="classic-link centered-bloc-text">
            <i18n>create.nextcloud.documents</i18n>
        </a>

        <!-- progress bar -->
        <div class="row">
            <h2>
                <i18n>nextcloud.quota</i18n>
            </h2>
            <progress-bar max="vm.userInfo.quota.total" filled="vm.userInfo.quota.used" unit="[[vm.userInfo.quota.unit]]"></progress-bar>
        </div>
    </div>
</div>
